<div>
This is stop {{stopID}}'s lat and long:
</div>
<div>
Lat: {{latitude}}
Long: {{longitude}}
</div>
<br/><br/>
<div>
Arrival Time: {{arrivalTime}}
<br/>
Minutes Away: {{minutesAway}}
</div>
<br/>
Bus Routes
<select class="form-select" (change)='onOptionsSelected($event)'>
    <option *ngFor="let item of busRoutes">
        {{item}}
    </option>
</select>

Bus Stops
<select class="form-select"   (change)='onStopOptionsSelected($event)'>
    <option *ngFor="let item of busStops" [value]="item.id">
        {{item.name}}
    </option>
</select>